@font-face {
  font-family: "iconfont"; /* Project id 3944858 */
  src: url('//at.alicdn.com/t/c/font_3944858_9zkknestfx.woff2?t=1681587114810') format('woff2'),
       url('//at.alicdn.com/t/c/font_3944858_9zkknestfx.woff?t=1681587114810') format('woff'),
       url('//at.alicdn.com/t/c/font_3944858_9zkknestfx.ttf?t=1681587114810') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-people:before {
  content: "\e613";
}

.icon-ico_qiantaijiedai_banlituifang:before {
  content: "\e85e";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-zhuyi:before {
  content: "\e633";
}

.icon-w_cunzhuang:before {
  content: "\e664";
}

.icon-luyoubiao:before {
  content: "\e64b";
}

.icon-zuoce-anfangmenjin:before {
  content: "\e6ee";
}

.icon-qingjie:before {
  content: "\e608";
}

.icon-qitimiehuo:before {
  content: "\e62f";
}

.icon-shipinjiankong:before {
  content: "\e637";
}

.icon-chongdianzhong:before {
  content: "\e7ac";
}

.icon-louti:before {
  content: "\e610";
}

.icon-wifi:before {
  content: "\e67c";
}

.icon-tingchechang:before {
  content: "\e624";
}

.icon-icon_location:before {
  content: "\e61f";
}

.icon-24gf-phoneLoudspeaker:before {
  content: "\e969";
}

.icon-hetong1:before {
  content: "\e66f";
}

.icon-navicon-srtj:before {
  content: "\e646";
}

.icon-house:before {
  content: "\e618";
}

.icon-ico_shujuchaxunyutongji_jiudianfangjianruzhutongji:before {
  content: "\e8fd";
}

.icon-fangjianshu:before {
  content: "\e626";
}

.icon-hetong-1:before {
  content: "\e619";
}

.icon-a-12chuanbozujinjiesuan:before {
  content: "\e684";
}

.icon-cangpeitubiao_xiugaixiugaiziliao:before {
  content: "\e625";
}

.icon-Name-Tag:before {
  content: "\e7e7";
}

.icon-wode:before {
  content: "\e638";
}

.icon-wodejifenbao:before {
  content: "\e6db";
}

.icon-falv:before {
  content: "\e602";
}

.icon-lianxi:before {
  content: "\e649";
}

.icon-13:before {
  content: "\e661";
}

.icon-zixun:before {
  content: "\e62e";
}

.icon-zixun1:before {
  content: "\e60b";
}

.icon-wenti:before {
  content: "\e6ce";
}

.icon-icon_home_service:before {
  content: "\e607";
}

.icon-jianlixunshi:before {
  content: "\e6aa";
}

.icon-liudongrenyuan:before {
  content: "\e611";
}

.icon-dianpu1:before {
  content: "\e60d";
}

.icon-loufangfangzi:before {
  content: "\e729";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-direction-up:before {
  content: "\e66c";
}

.icon-search:before {
  content: "\e67d";
}

.icon-a-kefukefuzhongxin:before {
  content: "\e63a";
}

.icon-wuliaobaozhuangdan:before {
  content: "\e616";
}

.icon-guigeguanli:before {
  content: "\e644";
}

.icon-zhedie:before {
  content: "\e647";
}

.icon-tianjia:before {
  content: "\e604";
}

.icon-zhankai:before {
  content: "\e7d3";
}

.icon-a-quanbusuoyou-08:before {
  content: "\e97d";
}

.icon-barcode:before {
  content: "\e601";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-shezhi:before {
  content: "\e892";
}

.icon-anquan:before {
  content: "\e641";
}

.icon-guanfangwangzhan:before {
  content: "\e67b";
}

.icon-baogao:before {
  content: "\e62d";
}

.icon-icon_xinyong_xianxing_jijin-165:before {
  content: "\e64e";
}
